
#bodyDiv {
  /* border: 1px solid red; */
  /* margin-top: 50px; */
  /* padding: 20px 100px 20px 100px; */
  width: 80%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 10px;
    margin-bottom: 50px;
}
#container {
  display: grid;

  grid-template-columns: 33.3% 33.3% 33.3%;
  /* border: 1px solid red; */
  font-family: 'Neue Plak';
}
#heading {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Neue Plak';

  padding-bottom: 30px;
  line-height: 0%;

  margin-left: 20px;
}

body {
  /* width: 80%; */
  margin: auto;
}

#signInBtn,
#guestBtn,
#registrationBtn {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-weight: 700;
  color: white;
  background-color: #c71432;
  padding: 1em;
  padding-right: 4.5em;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
#facebook > a > img {
  width: 50px;
  height: 50px;

  cursor: pointer;
}

#divForGuestUse {
  /* border: 1px solid blue; */
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 10px;
  padding: 0px 20px;
}

#registration {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 10px;
  padding: 0px 20px;

  border-right: 1px solid rgba(221, 214, 214, 0.835);
  border-left: 1px solid rgb(221, 214, 214, 0.835);
}

#socialNetwork {
  display: inline-block;
  padding: 0px 20px;
}
.mainDiv {
  font-size: 13px;
}

.input {
  font-size: 11px;
  height: 35px;
  width: 100%;
  border: 1px solid rgb(182, 173, 173);
  padding-left: 10px;
  border-radius: 1px;
  margin-bottom: 10px;
}
hr {
  border-top: 0.2px solid rgb(221, 214, 214, 0.835);
}
#checkbox {
  height: 13px;
  width: 13px;
}
#forgot {
  color: rgb(32, 31, 31);
}
/* #h4 {
        line-height: 0;
      } */
